<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AI converter</title>
    <link rel="stylesheet" href="style.css">
</head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<body>
    <h1>AI Converter</h1>
    <div class = "Description">
        <p>Welcome to our AI Converter website.
            If you are struggling to understand any assignments given from school or tasks given at work,
            try our AI converter. Just convert your assignment/task into a text pdf file and upload here.
            This AI converter will then process the pdf file and make an instructional video for you.
        </p>
    </div>
    <div class = "Instruction">
        <h3>How to get your informal instructional video from the PDF</h3>
        <ol>
            <li>Upload your pdf that you want to convert below</li>
            <li>Click on the convert button</li>
            <li>Wait for the process to complete (This may take a few minutes)</li>
            <il>Download the instructional video that has been processed</il>
        </ol>
    </div>
    <div class = "Converter">
        <h2>AI Converter Machine</h2>
        <input type="file" id="file-input">
        <button id="trigger-button">Convert</button>
        <div id="response-container"></div>
        <script>
           $(document).ready(function() {
               const socket = io();  // Establish the WebSocket connection
               const myButton = document.getElementById('trigger-button');
               socket.on('connected', function (data) {
                   $('#response-container').html('<h4>Status: ' + data.message + '</h4>');
                   myButton.disabled = false;
               });

               socket.on('reading-file', function (data) {
                   $('#response-container').html('<h4>Status: ' + data.message + '</h4>');
                   myButton.disabled = true;
               });

               socket.on('conversion-message', function (data) {
                   $('#response-container').html('<h4>Status: ' + data.message + '</h4>');
                   myButton.disabled = true;
               });

               socket.on('success', function (data) {
                   $('#response-container').html('<h4>Status: Video Successfully Generated!</h4>' +
                       '<a href="' + data.message + '" target="_blank"><button>View Video</button></a>')
                   // + '<a href="' + data.message + '" download="your-ai-video"><button>Download Video</button></a>')
                   myButton.disabled = false;
               });

               $('#trigger-button').click(function () {
                   const file = document.getElementById('file-input').files[0];
                   const formData = new FormData();
                   formData.append('file', file);

                   $.ajax({
                       url: '/uploader',
                       type: 'POST',
                       data: formData,
                       processData: false,
                       contentType: false,
                       success: function (response) {
                           console.log(response)
                       },
                       error: function () {
                           console.log('An error occurred while communicating with the server.');
                       }
                   });
               });
           });
        </script>
<!--    </div>-->
</body>
</html>