aiohttp==3.8.4
aiosignal==1.3.1
annoy==1.17.2
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
ci-info==0.3.0
click==8.1.3
configobj==5.0.8
configparser==5.3.0
cryptography==40.0.2
dataclasses-json==0.5.7
decorator==4.4.2
etelemetry==0.3.0
filelock==3.12.0
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
gTTS==2.3.2
httplib2==0.22.0
huggingface-hub==0.14.1
idna==3.4
imageio==2.28.1
imageio-ffmpeg==0.4.8
isodate==0.6.1
Jinja2==3.1.2
joblib==1.2.0
langchain==0.0.171
looseversion==1.1.2
lxml==4.9.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.1
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
openai==0.27.6
openapi-schema-pydantic==1.2.4
packaging==23.1
pandas==2.0.1
pathlib==1.0.1
Pillow==9.5.0
proglog==0.1.10
protobuf==4.21.12
prov==2.0.0
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pydot==1.4.2
pyparsing==3.0.9
pypdf==3.8.1
PyPDF2==3.0.1
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
python-dateutil==2.8.2
pytz==2023.3
pyxnat==1.5
PyYAML==6.0
rdflib==6.3.2
regex==2023.5.5
requests==2.30.0
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
simplejson==3.19.1
six==1.16.0
SQLAlchemy==2.0.13
sympy==1.12
TBB==0.2
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
traits==6.3.2
transformers==4.29.1
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
yarl==1.9.2
